extends layout

block nav
	-var selected = 'Websites';
	
block header
	header.admin
		.container
			.iconbar
				ul
					li
						a.btn#clearjobs.fui-trash  Clear all jobs
	#nav-bg

block content
	.container
		table.table.table-bordered.admin-table
			thead
				tr
					th Website
					th Jobs
					th Actions
			tbody
				-each website in websites
					tr
						td
							=website.name
						td
							table.table.table-striped.smallTable
								thead
									tr
										th Job Id
										th Type
										th Status
										th Action
								tbody
								-each job in website.jobs
									tr
										td
											a.btn.btn-mini(href='/admin/job/'+job.id) Job #{job.id}
										td
											=job.type 
										td
											=job.status
										td
											if (job.status == "RUNNING")
												a.btn.btn-mini.btn-warning.mlm(href='/admin/job/stop/'+job.id)
													i(style='font-size:11px').fui-power
												a.btn.btn-mini.btn-warning.mlm(href='/admin/job/clear/'+job.id)
													i(style='font-size:11px').fui-trash

						td
							div.actions
								a.btn.btn-mini.btn-primary(href=website.refresh) Run Refresh
								a.btn.btn-mini.btn-primary(href=website.crawl) Run Crawl
							div.status
								if (website.active == true)
									input.switchStatus(type='checkbox', checked='checked', data-toggle='switch', data-website=website.id)
								else
									input.switchStatus(type='checkbox', data-toggle='switch', data-website=website.id)