extends layout

block nav
	-var selected = 'Wines';
	
block header
	header.admin
		.container
			
	#nav-bg
									
block content
	.container
		form.admin-form.form-horizontal(action='/admin/ajax/updatewine/', method='post', role='form')
			fieldset.col-md-6
				legend 
					| !{wine.name}
					| &nbsp;
					a(href=wine.url, target='_blank')
							i.fui-link 
							| &nbsp;
							| View on website
				.form-group
					label.control-label.col-md-2(for='active') Active
					.controls.col-md-8
						input#active(name='active', type='checkbox', checked=(wine.active===true ? "checked" : undefined), data-toggle='switch')
						input#id(name='id', type='hidden', value=wine.id)
				.form-group
					label.control-label.col-md-2(for='website') Website
					.controls.col-md-8
						select#website.form-control(name='websiteId', disabled)
							for item in websites
								option(selected=wine.WebsiteId == item.id, value=item.id) #{item.name}
				.form-group
					label.control-label.col-md-2(for='name') Name
					.controls.col-md-8
						input#name.form-control(name='name', type='text', placeholder='', value=wine.name)
				.form-group
					label.control-label.col-md-2(for='producer') Producer
					.controls.col-md-8
						input#producer.form-control(name='producer', type='text', placeholder='', value=wine.producer)
				.form-group
					label.control-label.col-md-2(for='wine') Wine
					.controls.col-md-8
						input#wine.form-control(name='wine', type='text', placeholder='', value=wine.wine)
				.form-group
					label.control-label.col-md-2(for='size') Size
					.controls.col-md-8
						select#size.form-control(name='size')
							for item in sizeList
								option(selected=wine.size == item.id, value=item.id) #{item.name}	
				.form-group
					label.control-label.col-md-2(for='options') Options
					.controls.col-md-8
						input#options.form-control(name='options', type='text', placeholder='', value=wine.options)
				.form-group
					label.control-label.col-md-2(for='color') Color
					.controls.col-md-8
						select#color.form-control(name='color')
							for item in colors
								option(selected=wine.color == item) #{item}						
				.form-group
					label.control-label.col-md-2(for='price') Price
					.controls.col-md-4
							input#price.form-control(name='price', placeholder='', type='text', value=wine.price)
					.col-md-4
							button#priceHistory.btn(name='history') History
				.form-group
					label.control-label.col-md-2(for='minQuantity') Min Qty
					.controls.col-md-8
						input#options.form-control(name='minQuantity', type='text', placeholder='', value=wine.minQuantity)			

			fieldset.col-md-6
				legend Wine reference&nbsp;

						if (wineRef.id)
							| : linked !
							| &nbsp; 
							i.fui-check-inverted
				.form-group
					label.control-label.col-md-4(for='producerReference', style='text-align: left;') Producer
					.controls.col-md-6
						input#producerRef.form-control(name='producerRef', type='text',autocomplete='off', value=wineRef.producerName)
						input#producerRefValue(name='producerRefValue', type='hidden', value=wineRef.producerId)
					.col-md-2
						button#search.btn.btn-info(name='Search') Search
				.form-group
					label.control-label.col-md-4(for='wineRefId', style='text-align: left;') 
						=wine.wine
					.controls.col-md-8
						select#wineRefId.form-control(name='wineRefId')
							if (wineRef.wines.length)
								for item in wineRef.wines
									option(selected=wineRef.id == item.id, value=item.id) #{item.name}	
				.form-group
					label.control-label.col-md-4(for='newName', style='text-align: left;') Create in db
					.controls.col-md-6
						input#newName.form-control(name='newName', type='text', value=wine.wine)
					.col-md-2
						button#addWineRef.btn Add wine reference
				.form-group
					.col-md-12
						img.wine-image(src='#{wine.photo}')
					.controls.col-md-12
						input#image(name='image', type='file')
				.form-group
					div.pagination
						ul
							li
								a.prev(href=((prevNext.prev ? '/admin/wine/'+prevNext.prev : undefined))) Previous wine
							li
								button#save.btn.btn-info(name='save') Save
							li
								a.next(href=((prevNext.next ? '/admin/wine/'+prevNext.next : undefined))) Next wine			