extends layout

block menu
	-var selected = 'Big Data';

block header
	#nav-bg

block content
	div.container
		div.row
			div.span12
				h3
					| Statistiques globales
		div.row
			div.span12#rawStats
				p
					| Sur la base de #{bigdata.websiteCount} sites de vente en ligne, #{bigdata.wineCount} références sont en vente.
				p
					| Cela représente #{bigdata.producerCount} maisons, qui proposent #{bigdata.wineRefCount} cuvées.
				p
					| Le prix moyen de vente à l'unité est de #{bigdata.meanPrice} euros.
		div.row
			
			
		div.row
			div.span12#chart1
				ul.nav.nav-pills
					li.active
						a#mostFrequent Marques les plus representées
					li	
						a#byPrice Marques les plus chères
				div.svg
			
block append scripts
	script(src='/js/d3/d3.v3.min.js')
	script(src='/js/bigdata.js')