div#results
	.row
		.resultsCount.col-md-6
			-if (wines.resultsCount > 1)
				!{wines.resultsCount} champagnes correspondent à votre recherche.
			-else
				Un seul champagne correspond à votre recherche.	
		.sortOrder.col-md-6
			p
	.row.wines
		.col-md-12
			- each wine in wines
				.row.wine
					-if (wine.color == 'Pink')	
						.ribbon
							div
								| Rosé	
					figure.image.col-sm-3
						img(src='#{wine.photo}')
						.price
							a(href=wine.url, target='_blank') !{wine.euro}
						.target-site
							a.btn.btn-target-site(href=wine.url, target='_blank', role='button')
								|Voir l'offre&nbsp;
								i.fui-export
					.best-wine.col-sm-4
						ul
							li.wine-producer
								| !{wine.producer}
							li.wine-name
								| !{wine.name}
							li.wine-size
								| !{wine.size}	
							li.wine-site
								| Au meilleur prix chez&nbsp;
								strong 
									a(href=wine.url, target='_blank') #{wine.website}
									
					.other-wines.col-sm-5
						-if (wine.otherWines.length >0)
							.other-wines-header
								| Également disponible chez
							ul
							-each otherWine in wine.otherWines
								li
									span.other-price !{otherWine.euro}
									span.other-website
										a.btn.other-website(href=otherWine.url, target='_blank', role='button') #{otherWine.website}&nbsp;
											i.fui-export
									-if (otherWine.options && otherWine.options != '')	
										span.other-options #{otherWine.options}	