div#results.thumbnails.span12
	ul.wines
		- each wine in wines
				li.span2
					div.thumbnail.wine
						img.wine-image(src='#{wine.photo}')
						.caption			
							//div.wine-image.ratio(style='#{wine.photostyle}')
							p.wine-name
								| !{wine.wine}
							p.wine-producer
								| !{wine.producer}
							p.wine-size
								| !{wine.size}
							p.wine-price
								| !{wine.euro}
								span.brut TTC, hors frais de ports
							span.wine-total-price
								| !{wine.total}	
							p.wine-options
								= wine.options
							p.wine-site
								a(href=wine.url, target='_blank') #{wine.website}