div#results
	.row
		.resultsCount.col-md-6
			-if (wines.resultsCount > 1)
				!{wines.resultsCount} champagnes correspondent à votre recherche.
			-else
				Un seul champagne correspond à votre recherche.	
		.sortOrder.col-md-6
			p
	.row.wines
		.col-md-12
			- each wine in wines
				.row.wine
						.image.col-sm-3
							img(src='#{wine.photo}')
							.price
								a(href=wine.url, target='_blank') !{wine.euro}
						.name.col-sm-3
							p.wine-name Cuvée :
								| !{wine.wine}
							p.wine-producer Producteur :
								| !{wine.producer}
						.options.col-sm-3
							p.wine-size Taille :
								| !{wine.size}
							-if (wine.options != '')	
								p.wine-options Options :
									= wine.options	
						.website.col-sm-3
							p.wine-site
								a(href=wine.url, target='_blank') #{wine.website}
