div#results
	.row
		.resultsCount.col-md-6
			-if (wines.resultsCount > 1)
				!{wines.resultsCount} champagnes correspondent à votre recherche.
			-else
				Un seul champagne correspond à votre recherche.	
		
	.row.wines
	- each wine in wines
		.row.wine
			.col-lg-3
				img.wine-image(src='#{wine.photo}')
			.col-lg-3
				p.wine-name
					| !{wine.wine}
				p.wine-producer
					| !{wine.producer}
				p.wine-size
					| !{wine.size}
				p.wine-price
					| !{wine.euro}
					span.brut TTC, hors frais de ports
				p.wine-price-six
					| !{wine.qtyFormatted}
					span.brut TTC, !{wine.qty} bouteilles port compris	
				p.wine-options
					= wine.options
				p.wine-site
					a(href=wine.url, target='_blank') #{wine.website}
