section
	div
		h4.title
			a(href=post.url)
				= post.title
		span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
		div.hashtags
			- each tag in post.tags
				a.hashtag(href=tagUrl(tag))
					=tag

		div.post.content
			!= post.preview